<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>WebQuery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body class="bg-dark">

<div>
    <div class="container-fluid mt-2 ">

        <div class="row">


            <div th:insert="~{../static/parts/navbar:: nav}" class="col-md-8 col-lg-2 navbar-container"></div>

            <div class="col-md-8 col-lg-10 content-container">

                <div th:each="el : ${orders}">

                    <div class="row textsize">

                        <div class="col-sm-1">
                            <p><b class="text-warning">JobID:</b><br><a th:href="'/jobs/' + ${el.jid}"> <span th:text="${el.jid}"
                                                                                   class="text-white bg-dark"/></a></p>
                        </div>

                        <div class="col">
                            <p><b class="text-warning">JobName:</b><br><a th:href="'/jobs/' + ${el.jid}"> <span th:text="${el.jobname}"
                                                                            class="text-white bg-dark"/></a></p>
                        </div>

                        <div class="col">
                            <p><b class="text-warning">Наименование:</b><br> <a th:href="'/jobs/' + ${el.jid}"><span th:text="${el.product_name}"
                                                                             class="text-white bg-dark"/></a></p>
                        </div>

                        <div class="col">
                            <p><b class="text-warning">GTIN:</b><br><a th:href="'/jobs/' + ${el.jid}"> <span th:text="${el.gtin}"
                                                                                   class="text-white bg-dark"/></a></p>
                        </div>

                        <div class="col-sm-1">
                            <p><b class="text-warning">Серия:</b><br><a th:href="'/jobs/' + ${el.jid}"> <span th:text="${el.batchno}"
                                                                                 class="text-white bg-dark"/></a></p>
                        </div>

                        <div class="col-sm-1">
                            <p><b class="text-warning">Количество:</b><br> <a th:href="'/jobs/' + ${el.jid}"><span th:text="${el.quantity}"
                                                                                 class="text-white bg-dark"/></a></p>
                        </div>

                        <div class="col">
                            <p><b class="text-warning">Время:</b><br><a th:href="'/jobs/' + ${el.jid}"><span th:text="${el.obreqdt}"
                                                                            class="text-white bg-dark"/></a></p>
                        </div>

                        <div class="col">
                            <p><b class="text-warning">OrderID:</b><br><a th:href="'/jobs/' + ${el.jid}"> <span th:text="${el.orderid}"
                                                                            class="text-white bg-dark"/></a></p>
                        </div>

                    </div>

                </div>

            </div>


        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>